.mod-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.modal-content {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    left: 50%;
    max-width: 90%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}